class Tela

public:
Tela()
~Tela()
apagar()
adicionarPontoEm ()
adicionarForaDoLimiteDasOrdenadasEm()
adicionarForaDoLimiteDasAbscissasEm()
adicionarForaDoLimiteEm()
setEixoDasAbscissas()
setEixoDasOrdenadas()
desenhar()

protected:
ALL
ALL()

private:
ALL
ALL()
